fastapi==0.115.0
uvicorn==0.30.0
streamlit==1.38.0
requests==2.32.3
pandas==2.2.2
sqlalchemy==2.0.23
pydantic==2.7.4
python-dotenv==1.0.0
pydantic-settings==2.1.0
motor==3.3.2
pymongo==4.6.0
beanie==1.23.6


